input[type=text]:hover{background-color:#fff;}
.typeahead:hover {background-color:#fff;}
.tt-input {font-size:18px; padding:6px; width:560px; border:0; background-color:#fff; outline:0;}
			.tt-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 400px;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.tt-suggestion > p {
  display: block;
  padding: 5px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  margin:0;
}
.tt-suggestion > p:hover,
.tt-suggestion > p:focus,
.tt-suggestion.tt-cursor p {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

			.tt-cursor {
				background-color: #009; 
				color:#fff;
				cursor: pointer;
			}

      .tt-hint {color:#aaa; display:none;}

ul{margin:0; padding:0;}
#list ul {margin-top:10px}
#list ul li {padding:5px 15px;}
.name {font-size: 14px;}
.price {font-size:32px; color:#D41200; margin-top:5px;}
.thumb {display:inline-block; vertical-align: top; margin-right:10px;}
.thumb img {height:90px;}
.ta {height:12px; margin-top:5px;}
#list ul li .details {display:inline-block; vertical-align: top; width:240px;}
#list ul li:hover {cursor:pointer;}
