body {font-family:arial; background-color:#f1f1f1; color:#555; margin:0; padding:0;}

#header {height:50px; background-color:#d41200; position:fixed; top:0; left:0; right:0; color:#fff;}
#header .tools {float:right; overflow: hidden; margin-right:12px;}
#header .tools ul {list-style-type: none; padding:0; margin:0;}
#header .tools ul li {color:#fff; float:left; margin-right:24px; height:50px; box-sizing: border-box; padding-top:16px;}
#header .tools ul li.selected {border-bottom:solid 3px #fff;}
#header .tools ul li:hover {cursor: pointer}

.back-button {display:inline-block; margin: 8px 12px;}
.back-button:hover {cursor:pointer;}

.title {display:inline-block; vertical-align:top; margin:8px;}
.title .dates {font-size:12px;}


.card .photo h1 {display:none; padding:0 12px; margin:0; position:absolute; bottom:40px; left:12px; color:#fff; font-size:24px; font-weight: normal; text-shadow: 1px 1px #555;}
.card .photo div {padding:0 12px; margin:0; position:absolute; bottom:12px; left:12px; color:#fff; font-size:18px; font-weight: normal; text-shadow: 1px 1px #555;} 

#map-wrapper {position:fixed; top:50px; right:0; left:600px; bottom:0; background-color:#f1f1f1;}
#map-hider {position:fixed; top:50px; right:0; left:600px; bottom:0; background-color:#f1f1f1;}

#reviews-wrapper, #rooms-wrapper {position:fixed; top:0px; width:700px; left:50%;  bottom:0px; margin-left:-350px; background-color:transparent; display:none; overflow-y:scroll;}

button {border:0; padding:8px 12px; background-color:#f1f1f1; font-size:14px;}
button.book {background-color:#00c; color:#fff;}

.rooms h2 {padding-bottom:12px;}
.rooms .image {width:80px; height:80px; background-color:#f1f1f1;}

.chip, .details-block {-webkit-box-shadow: 1px 1px 3px 0px #ccc; -moz-box-shadow: 1px 1px 3px 0px #ccc; box-shadow: 1px 1px 3px 0px #ccc;}
.room, #room-details {-webkit-box-shadow: 1px 1px 3px 0px #666; -moz-box-shadow: 1px 1px 3px 0px #666; box-shadow: 1px 1px 3px 0px #666;}
.rooms {}
.room {width:500px;}

.extra {font-size: 13px; margin:5px 0;}

.price{}

#reviews h3 {font-size:16px; font-weight:bold; margin:0; padding:0;}

.modal {}

a.rooms-more {font-size:13px; text-decoration: none;}
.more-info {display:none; height:100px; background-color:#eee;}
#overlay {position:fixed; top:0; left:0; right:0; bottom:0; background-color:#eee; opacity:1.0; display:none;}






