body {font-family: arial; background-color:#E5DFCF; margin:0; padding:0; color:#555;}
h1 {padding:0; margin:0;}
ul {list-style-type: none; margin:0; padding:0;}
a {text-decoration:none; color:#3598DB;}

.shadow {-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.33); -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.33); box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.33);}

.shadow-bottom {-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.75);}

#header {position:fixed; top:0; left:0; right:0; height:50px; background-color:#E84C3D; z-index:2;}
#list-wrapper {position:fixed; top:50px; left:0; right:0; bottom:0; z-index:1; padding:0 20px; overflow-y:scroll;}
#details-wrapper {position:relative; display:none; z-index:3; height:2000px; background-color:#E5DFCF;}

.hotel:hover {cursor:pointer;}
.hotel {margin-bottom:20px; width:300px; background-color:#fff; padding:12px;}
.hotel .name {font-size:18px; margin:0; padding:0;}

#details-wrapper {}

#hotel-wrapper h1 {font-size:32px; font-weight:normal; margin:0; padding:24px 24px 0;}
#hotel-wrapper .stars {color:#E84C3D; padding:0 24px;}

#price {width:40%; float:left; box-sizing:border-box; text-align:right; padding:24px }
#price .strike-through {font-size:16px; text-decoration:line-through}
#price .total {color:#E84C3D; font-size:32px;}
#price .fees {font-size:13px; display:inline-block; margin:12px 0;}
#price .book-large {background-color:#3598DB; color:#fff; border:0; font-size:14px; width:200px; padding:10px 12px;}

.content-head {box-sizing:border-box; border-radius:4px; -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.33); -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.33); box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.33);}
.content-block {padding:24px 24px 0; box-sizing:border-box; border-radius:4px; -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.33); -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.33); box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.33);}
.content-head h2, .content-block h2 {margin:0 0 0 0; padding:0; font-size:20px; font-weight:bold;}

.all {text-align:right; border-top:solid 1px #eee; margin:24px -24px 0; padding-right: 24px; clear:both;}
.all a {display:inline-block; font-size:14px; padding:24px 0; text-transform: uppercase;}

.wrapper {white-space: nowrap; overflow-y: hidden; overflow-x: scroll; -webkit-overflow-scrolling: touch;}
.internal {display: inline-block; height:auto; background-color:#ddd; margin-right:12px; width:auto; height:200px;}
.internal img {height:200px;}

.review-summary {border-bottom:solid 1px #eee; border-top:solid 1px #eee; padding:12px 24px; margin:0 0 24px;}
.review-summary .score {display:inline-block; margin-right:36px; vertical-align:top;}

#about .description {font-size:14px; line-height:20px; box-sizing:border-box; padding-right:24px;}
#about .description b {font-weight: normal}
#about ul.amenities {overflow:hidden; margin:0; padding-left:28px; list-style-type: none; list-style-image: url('../i/tick.png');}
#about ul.amenities li {float:left; width:33%; box-sizing: border-box; padding:3px 3px; font-size:14px;}

#location .address {font-size:13px; margin-top:0}
#location ul.landmarks li {box-sizing: border-box; padding:6px 0; font-size:13px;}

@media only screen and (min-width:1000px) {
 	#hotel-wrapper {position:absolute; top:0; width:900px; left:50%; margin-left:-450px; padding-bottom:20px;}	
 	.content-head {width:900px; margin:60px auto 20px; background-color:#fff;}
 	.content-block {width:900px; margin:0 auto 20px; background-color:#fff; box-sizing:border-box;}	
 	#slideshow {position:absolute; top:220px; height:200px; background-color:transparent; left:0; right:0; overflow:hidden;}	


}









