/* */

#grid { margin:0 1.7241%;}
.col {float:left; margin-right:1.7241%; margin-bottom:1.7241%; }


/* TAble styles */

table#rates { width:100%;}
 				table th:first-child {border-top-left-radius: 4px;border-bottom-left-radius: 4px;border-left-style: solid;}
 				table th:last-child {border-top-right-radius: 4px;border-bottom-right-radius: 4px;}
 				table th {background-color:#e6e3dc;  font-size:0.8rem;}
 				table th {padding:16px; border: 1px solid #ccc; border-style: solid solid solid none;}

				table tbody td.type {background: #f5f4f0; border-left-style: solid; border-top-left-radius: 4px; border-bottom-left-radius: 4px; border-bottom-style: solid; 
 						-moz-box-shadow: inset 0 3px 0 #fff,inset 0 -3px 0 #fff,inset 3px 3px 0 #fff;
						-webkit-box-shadow: inset 0 3px 0 #fff,inset 0 -3px 0 #fff,inset 3px 3px 0 #fff;
						box-shadow: inset 0 3px 0 #fff,inset 0 -3px 0 #fff,inset 3px 3px 0 #fff;}
				table tbody td.book_cell {background: #f5f4f0;}
				table tr td {padding:16px; border: 1px solid #ccc;border-style: solid solid none none;}
				table tr:last-child td {border-bottom-style: solid;}

				table tr:first-child td.book_cell {
					border-top-right-radius: 4px;
					-moz-box-shadow: inset -3px 0 0 0 #fff;
					-webkit-box-shadow: inset -3px 0 0 0 #fff;
					box-shadow: inset -3px 3px 0 0 #fff;
				}
 
 				table tr:last-child td.book_cell {
 					border-top-right-radius: 0; border-bottom-right-radius: 4px;
 					-moz-box-shadow: inset -3px 0 0 0 #fff;
					-webkit-box-shadow: inset -3px 0 0 0 #fff;
					box-shadow: inset -3px -3px 0 0 #fff;
				}


				

				 span.cancellation { display:inline; margin-bottom: 10px; font-weight:bold; font-size:12px; border-bottom: 1px #666 dotted; color:#555; line-height: 1.5em;}
				 span.free {color:#458f00;}
				table tr td.loyalty ul {margin-left:3px;}
				table tr td.loyalty ul li {background:url('i/pdp_wr_tick.png') no-repeat; font-size:12px; margin-top:5px; padding-left:16px; line-height:12px;}

				.offers-message {padding-left:28px; color:#900; font-size:13px; font-weight:bold; line-height:140%; background:url('i/pdp_offers_icon.png') no-repeat;}

				table tr td.price_cell {text-align:right;}
				table tr td.price_cell .strikethrough {display:block; font-size:18px; text-decoration: line-through; margin-bottom:5px;}
				table tr td.price_cell .actual {display:block; color:#900; font-size:24px; margin-bottom:8px; font-weight:bold;}
				table tr td.price_cell .nightly {display:block; font-size:12px; margin-bottom:5px;}
				table tr td.price_cell .taxes {display:block; font-size:12px; margin-bottom:8px;}
				table tr td.price_cell .rooms-left {background-color: #ff9;line-height: 21px;font-size: 11px;font-weight: bold;margin-top: 6px;padding: 4px;border: 1px solid #ffd542;border-radius: 4px; white-space: nowrap;}


.room-name {font-size:14px; font-weight:bold; margin-bottom:10px;}
.room-images{float:left;display:inline-block; border-radius:4px; width: 154px;
height: 84px;
padding: 3px;
margin:0 10px 10px 0;
border: 1px solid #ccc;
background-color: #fff;
border-radius: 8px;
-moz-box-shadow: 0 2px 2px 0 #888;
-webkit-box-shadow: 0 2px 2px 0 #888;
box-shadow: 0 2px 2px 0 #888;
overflow: hidden;
position: relative;}

.room_image_small {width:120px; height:60px;}

.room-images img {border-radius:4px;}
.room-info {float:left; margin-bottom:10px;}
.room-info .bed-label {font-size:14px;}
.room-info .bed-list {margin:10px 0;}
.room-info .bed-list li {margin-left:20px; list-style-type:square; font-size:12px;}
.more-info {clear:both; font-size:12px}


 button.bookbut {
	background-color: rgb(48, 175, 247);
	background-image: -webkit-linear-gradient(top, rgb(99, 204, 255) 0px, rgb(34, 174, 255) 40%, rgb(4, 149, 238) 100%);
	background-position: 50% 50%;
	border: 1px solid;
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 3px;
	box-shadow: rgb(0, 135, 219) 0px 0px 0px 1px, rgba(60, 163, 227, 0.298039) 1px 1px 0.5px 1px;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.5;
	margin: 0px 2px 4px;
	overflow: visible;
	padding: 2px 10px;
	vertical-align: middle;
	width: auto;
	white-space: nowrap;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	box-sizing: border-box;
	align-items: flex-start;
	text-align: center;
	font: 12px/135% arial, helvetica, clean, sans-serif;
}

@media only screen and (min-width:0px) {
 				#page {margin-bottom:100px;}


 				table#merge {margin-top:-8px; width:100%;}
 				table#merge thead {display:none;}

 				


 				table#merge td.type, table#rates th.type {display:none;}
 				table#merge td.occupancy {display:none;}
 				table#merge td.options {display:none;}
 				table#merge td.loyalty {width:50%; border-left:solid 1px #ccc; border-right:0; background-color:#fff;}
 				table#merge td.price_cell {width:50%; background-color:#fff;}
 				table#merge td.book_cell {display:none;}
 				

 				table#merge tbody {display: table-row-group; vertical-align: middle; border-color: inherit;}
 				table#merge tbody:before {content: " ";display: block;clear: both;height: 8px;}
 				table#merge tbody td {vertical-align:top; }

 				table#merge th.loyalty span.merge {display:inline;}
 				table#merge td.loyalty .occupancy {font-size:12px; overflow:hidden; margin-bottom:12px; }
 				table#merge td.loyalty .occupancy img {float:left; margin-right:6px;}

 				table#merge th.offers, table#merge td.offers {display:none;}
 				table#merge td.loyalty span.cancellation {display:inline-block;}
 				table#merge td.loyalty img.wr {display:block;}

 				table#merge td.price_cell .offers-message {line-height:12px; margin-bottom:12px; background-image: none;}

 				table#merge .room-images {margin-right:0;}
 			

 			}

 			@media only screen and (min-width:600px) {

 				.room-type {display:none;}
 				table#merge td.type, table#rates th.type {display:table-cell; width:28%;}
 				table#merge td.occupancy {display:none;}
 				table#merge td.options {display:none;}
 				table#merge td.loyalty {width:28%; border-left:0; border-right:solid 1px #ccc;}
 				table#merge td.price_cell {width:39%;}
 				table#merge td.book_cell {display:table-cell; width:5%;}

 				table#merge td.price_cell button.bookbut {display:none;}

 			}


 			@media only screen and (min-width:800px) {





 			

 			}

 			@media only screen and (min-width:850px) {

 				table#merge thead {display:table-header-group;}
 				#page {max-width:1160px; margin:0 auto 100px;}

 				table#merge td.type, table#merge th.type {width:186px;}
 				table#merge td.occupancy, table#merge th.occupancy {display:table-cell; width:6%;}
 				table#merge td.options, table#merge th.options {display:table-cell; width:15%;}
 				table#merge td.loyalty, table#merge th.loyalty {width:23%;}
 			
 				table#merge th.price_cell {width:29%;}
 				table#merge td.price_cell {width:22%;}
 				table#merge td.book_cell {width:5%;}
 				

 				table#merge tbody {display: table-row-group; vertical-align: middle; border-color: inherit;}
 				table#merge tbody:before {content: " ";display: block;clear: both;height: 8px;}
 				table#merge tbody td {vertical-align:top;}

 				table#merge th.loyalty span.merge {display:inline;}
 				table#merge td.loyalty .offers-message {display:block; margin-top:10px;}
 				table#merge td.loyalty span.cancellation {display:none;}
 				table#merge th.offers, table#merge td.offers {display:none;}

 				table#merge .room-images {margin-right:0;}
 				table#merge td.type img.occupancy {display:none;}

 				

 				table#merge td.type, table#merge th.type {width:33%;}
 				table#merge td.occupancy, table#merge th.occupancy {width:6%; }
 				table#merge td.options, table#merge th.options {width:14%;}
 				table#merge td.loyalty, table#merge th.loyalty{width:14%;}
 				table#merge td.offers, table#merge th.offers {width:14%;}
 				table#merge th.price_cell {width:21%;}
 				table#merge td.price_cell {width:16%;}
 				table#merge td.book_cell {width:5%;}
 				

 				table#merge tbody {display: table-row-group; vertical-align: middle; border-color: inherit;}
 				table#merge tbody:before {content: " ";display: block;clear: both;height: 8px;}
 				table#merge tbody td {vertical-align:top;}

 				table#merge th.offers, table#merge td.offers {display:table-cell;}

 				table#merge td.price_cell .offers-message {display:none;}
 				table#merge th.loyalty span.merge {display:none;}
 				table#merge td.loyalty .occupancy {display:none;}

 				table#merge .room-images {margin-right:10px;}


 			}




