#header {background: url("bg-mobile.png"); position:relative; overflow:hidden; height:40px;}
			#header .content  {margin:0 12px;  padding:0;}
			#header .burger {display:inline-block; width:30px; height:20px; background-color:#fff; vertical-align:top; margin-top:10px; margin-right:10px;}
			#header .logo {display:inline-block; background: url("logo-mobile.png") no-repeat; height:40px; width:200px;}
			#header .content .tel-full {display:none;}

			#nav, #header .currency_selector {display:none;}
			
			.menu {background-color:#000;}
			.menu ul li {display:block; color:#fff; font-size:14px; padding:12px; border-bottom:solid #999 1px;}
			.menu ul li:last-child {border:0;}

			.pagestuff {}
			.pagestuff .content {background-color:#eee; font-size:18px; color:#555; margin:12px;}
			.pagestuff .content p {padding:20px;}
				

			@media only screen and (min-width:600px) {
				.pagestuff .content {margin:20px;  padding:0;}

				#header {height:auto; padding:5px 0 0; background: url("i/header_desktop_bg.png");}
				#header .content  {margin:0 20px;  padding:0;}
				#header .burger {display:none;}
				
				#header .content .tel-full {display:inline; padding:0 0 10px 0; width:45%;}
				#header .content .tel-full .message{display:block; font-size:12px; margin:5px 0 4px;}

				#header .content .tel-full .number{}
				#header .content .tel-full .number li {float:right; margin-left:10px; line-height:16px; margin-bottom:0;}
				#header .content .tel-full .number li.primary {font-size:16px;}
				#header .content .tel-full .number li.secondary {font-size:14px;}

				

				

				#header .logo {background:url('i/logo_desktop.png') no-repeat; height:50px; width:200px; float:left;}
				#header .currency_selector {display:block; width:100px; position: absolute; top:0; left:50%; margin-left:-50px; text-align:center;}
				
				#nav {display:block; background-color:#333;}
				#nav .content  {margin:0 10px;} 
				#nav .content ul li {float:left; margin:0 0 0 0; line-height:12px; margin-bottom:0;}
				#nav .content ul li.right {float:right;}
				#nav .content ul li.right, #nav .content ul li.main-menu {
					margin:0; 
					background-image: url('http://www.hotels.com/da/assets/s/1.15/images/module/header/sprite-header.png');
					background-repeat: no-repeat;
					background-position: 95% -91px;
					padding-right: 14px;
				}
				#nav .content ul li a {color:#fff; font-size:13px; display:block; padding:10px 10px;}
				#nav .content ul li a.selected {background-color:#700515;}
				#nav .content ul li.right:ho/ver {background-color:#700515;}

				#nav .content ul li.main-menu {display:block;}
				#nav .content ul li.lg {display:none;}

				li.right {position:relative;}
				#nav .content ul li ul.ddmenu {background-color:#fff; position:absolute;  z-index:2000; box-shadow: 4px 0 10px -2px rgba(51,51,51,0.8),-4px 0 10px -2px rgba(51,51,51,0.8);
border-radius: 0 0 5px 5px;}

				#nav .content ul li.account ul.ddmenu {top:32px; right:0; width:180px;}
				#nav .content ul li.cs ul.ddmenu {top:32px; left:0; width:180px;}

				#nav .content ul li ul.ddmenu li {display:block; float:none; color:#000; padding:10px; font-size:12px; margin:0; border-bottom:solid 1px #ccc;}
				#nav .content ul li ul.ddmenu li:last-child {border-bottom:0;}
				#nav .content ul li ul.ddmenu li:hover {background-color:#026dc5; color:#fff;}

				.menu {display:none;}

			}

			@media only screen and (min-width:768px) {
				#header .content .tel-full {width:65%;}
				#header .content .tel-full .number{}
				

			}

			@media only screen and (min-width:960px) {
				#nav .content ul li.main-menu {display:none;}
				#nav .content ul li.lg {display:block;}
			}

			@media only screen and (min-width:1160px) {
				#header .content, #nav .content, .pagestuff .content {max-width:1120px; margin:0 auto;}
				#nav .content {max-width:1140px; margin:0 auto;}
			}

